[submodule "Revealjs"]
	path = Revealjs
	url = https://github.com/hakimel/reveal.js.git
[submodule "reveal.js-plugins"]
	path = reveal.js-plugins
	url = https://github.com/rajgoel/reveal.js-plugins.git
